/* Background */
header {
    background-image: url(../img/wall.png);
    height: 10vh
}

main {
    background-image: url(../img/cork.png);
    height: 90vh;
}

.img-size {
    width: 600px;
    height: 600px;
}


/* Pin control */
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.pin-center {
  top: -10px;
  left: 50%;
  /* Origine immagine nella sua metà */
  transform: translateX(-50%);
}