/* Utilities */
.mt-photo {
    margin-top: -4px;
}

/* Background */
header {
    background-image: url(../img/wall.png);
    min-height: 10vh;
}

main {
    background-image: url(../img/cork.png);
    min-height: 90vh;
}

/* Pin control */
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.pin-center {
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

/* Overlay Image Control */
#overlayImg {
    width: 600px;
    height: 600px;
}

/* Hover effect */
div.col-lg-3 {
    transition: ease-out 0.5s;
}

div.col-md-4 {
    transition: ease-in-out 0.5s;
}

div.col-lg-3:hover {
    transform: rotate(10deg) scale(1.1);
    z-index: 1;
    box-shadow: 10px 20px 20px;
}

div.col-md-4:hover {
    transform: scale(1.1) rotate(10deg);
    z-index: 1;
    box-shadow: 10px 20px 20px;
}