/* Background */
header {
    background-image: url(../img/wall.png);
    height: 10vh;
}

main {
    background-image: url(../img/cork.png);
    min-height: 90vh;
}

/* Pin control */
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.pin-center {
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

/* Utilities */
.mt-photo {
    margin-top: -4px;
}